* {
    color: #222222;
    font: Roboto, sans-serif;
}

body {
    background-image: url(../images/backgroundWood.jpg);
    background-attachment: fixed;
    height: 100%;
}

p {
    justify-content: center;
}

main {
    background-color: rgba(255, 255, 255, 0.900);
    border-radius: 1rem;
    margin: 2vw;
}

#perfilImage:not(:hover) {
    margin-top: 5vh;
    width: 40vh;
    transition: 0.5s;
}

#perfilImage:hover {
    margin-top: 5vh;
    width: 42vh;
    transition: 0.5s;
}

.mainTitle {
    font: bold 2.5rem Roboto, sans-serif;
}

#subtitle {
    font: normal 1.25rem Roboto, sans-serif;
}

header, #topButtons, #lastButton, #lastMessage {
    text-align: center;
}

.title {
    background-color: rgba(255, 255, 255, 0.50);
    padding: 0.40vh 0.5rem 0.40vh 0.5rem;
    margin: 12vh 7vw 2vh 7vw;
    max-width: fit-content;
    max-height: 12vh;
    border-radius: 1rem;
    text-align: left;
    font: bold 1.4rem Roboto, sans-serif;
}

.description {
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 1rem;
    padding: 0.9rem;
    margin: auto;
    width: 75vw;
    font: normal 1.15rem Roboto, sans-serif;
}

.languagesImages:not(:hover) {
    margin-bottom: 2vh;
    width: 2.5rem;
    transition: 0.5s;
}

.languagesImages:hover {
    transition: 0.5s;
    width: 3.3rem;
}

.generalLogos {
    margin-left: 10vw;
}

button {
    margin-top: 1vh;
    padding: 2vh;
    border-radius: 1rem;
    border-width: 0.15rem;
    border-color: #222222;
    background: rgba(192, 169, 169, 0);
    width: 14rem;
    font: normal 1.5rem Roboto, sans-serif;
    opacity: 0.7;
}

#botButton {
    margin-top: 1vh;
    width: 56.8rem;
    max-width: 79%;
}

button:hover {
    transition: 0.5s;
    color: rgb(0, 127, 255);
    border-color: rgb(0, 127, 255);
    cursor: pointer;
    opacity: 1;
}

footer {
    background-color: #F2FAFC;
    text-align: center;
    font: bold 1rem Roboto, sans-serif;
    color: #222222;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#lastMessage {
    margin-top: 2vh;
    margin-bottom: 10vh;
    width: 56.8rem;
    max-width: 75%;
    font-size: 2.2vh;
    padding: 0.2rem;
}

.agradecimento-div {
    padding-top: 0.5vh;
}

.agradecimento {
    font-size: 1.4rem;
}

#cevLogo:not(:hover) {
    height: 10vh;
    margin-bottom: 2vh;
    transition: 0.5s;
}

#cevLogo:hover {
    cursor: pointer;
    transition: 0.5s;
    height: 11vh;
    margin-bottom: 1vh;
}